/* MIDDLE SECTION */
.middle-container {
    /* background-color: red; */
    max-width: 970px;
    min-width: 320px;
    margin: auto;
}

.middle-container h1 {
    font-size: 26px;
    margin: 0;
}

.middle-container hr {
    margin: 0;
    height: 0.5px;
    background-color: lightgray;
}

.middle-sub-container h1 {
    font-size: 22px;
}

.middle-sub-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-shrink: 1; */
    /* background-color: black; */
}

.middle-sub-button-child {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    /* flex-grow: 1; */
    width: 290px;
    height: 60px;
    min-width: px;
    background-color: white;
    padding: 1% 1%;
    margin-top: 2%;
    margin-bottom: 1%;
    border: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.middle-sub-button-child h1 {
    font-weight: 600;
    font-size: 20px;
}

.middle-sub-text-button span {
    font-size: 13px;
}

.middle-sub-text-button {
    /* background-color: red; */
    text-align: left;
    flex-grow: 1;
    margin-left: auto;
    padding-left: 6%;
}