/* NAVBAR */
.navbar-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 10px;
}

.navMenu ul {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 0px 10px;
    text-decoration: none;
    font-size: 12px;
}

.navbar span {
    font-size: 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: var(--orange-color);
    margin: 3px;
}

.navbar .material-symbols-outlined {
    vertical-align: middle;
    font-size: 20px;
}

.navbar-item:hover span {
    color: var(--orange-color);
}

.navbar img {
    width: 230px;
}