.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange-color: #F48023;
  --greyish-color: #FAF9F8;
  --white-color: #FFFFFF;
}

body {
  font-family: 'Poppins', sans-serif;
}


/* UTILITIES */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BODY */
.main-container {
  background-color: var(--greyish-color);
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* EFFECTS */
.lower-middle-view-all-article-button:hover {
  color: var(--orange-color);
}

.button-arrow-icon:hover {
  color: var(--orange-color);
}

.button-arrow-icon:hover {
  color: var(--orange-color);
}

.middle-sub-arrow-button:hover {
  color: var(--orange-color);
}

.lower-middle-button-arrow-icon:hover {
  color: var(--orange-color);
}

.navbar a:hover {
  color: var(--orange-color);
}

.hamburger {

  float: right;
  height: 24px;
  cursor: pointer;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  margin-top: 5px;
  background-color: red;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 969px) {

  .middle-sub-container .middle-sub-button-child {
    flex-grow: 1;
    margin: 1%;
  }

  .lower-middle-sub-container .lower-middle-button-articles {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 768px) {
  .middle-sub-container .middle-sub-button-child {
    flex-grow: 1;
    margin: 1%;
  }

  .lower-middle-sub-container .lower-middle-button-articles {
    flex-grow: 1;
  }

  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .line:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }

  .navMenu {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: -200%;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    transition: 0.5s;
  }

  .navMenu.active {
    top: 20px;
  }

  .navMenu a {
    font-size: 15px;
  }

  .navMenu li {
    padding: 5px;
    margin-top: 10px;
    border: solid;
    border-color: var(--greyish-color);
    background-color: var(--greyish-color);
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
  }
}

@media only screen and (max-width: 640px) {

  .navMenu {
    margin: 0% 0%;
    margin: auto;
    justify-content: space-between;
  }

  .navbar-logo {
    width: auto;
  }

  #btn {
    display: flex;
    display: block;
    float: right;
  }

  @media only screen and (max-width: 363px) {


    .icon-article-text img,
    h1 {
      font-size: 20px;
    }

    .upper-text-center-container h1 {
      font-size: 10px;
    }
  }
}