/* TASK CHECKLIST
  1. OPTIMIZATION
  2. ARRANGEMENT */

html {
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.display-flex-only {
  display: flex;
}

.display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.space-between-content {
  justify-content: space-between;
}

.space-around-content {
  justify-content: space-around;
}

body {
  font-family: 'Poppins';
  background-color: #FAF9F8;
}

header {
  /* display: flex; */
  width: 100vw;
  background-color: white;
  padding: 0% 1%
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: auto;
  padding: 0% 13% 
}

.navbar-logo img {
  margin-left: 1%;
  max-width: 100%;
  margin: auto;
}

.navbar-item {
  /* background-color: orange; */
  max-width: 100%;
  padding: 0%;
  margin: auto;
}

.navbar-item1{
  margin-right: 3.2rem;
}

.display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.navbar-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.material-symbols-outlined {
  vertical-align: middle;
}

/* .navbar-item:hover {
  background-color: transparent;
} */

.navbar-item:hover span {
  color: #F48023;
} 

.body-container {
  background-color: green ;
  max-width: 100%;
  margin: 0 auto;
  padding: 0%;
}

.text-center-container {
  /* background-color: transparent; */
  width: 60%;
  height: 60%;
  text-align: center;
  margin: auto;
  padding-top: 5rem;
}

/* .center-search-bar {
  background-color: red;
} */

input[type="text"]::placeholder {
  color: #bbb;
}

.input-search-bar {
  display: flex;
  margin: auto;
  width: 52%;
  max-width: 100%;
  height: 5%;
  border: 1px solid #555;
  display: block;
  padding: 1% 2.5%;
  margin-top: 2rem;
  margin-bottom: 5rem;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 98% center;
}
/* NAV BAR END */


/* SECTION 1 START */
.submain-container-parent{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  width: 768px;
  max-width: 100%;
  min-width: 320px;
  margin: auto;
}

.submain-button-child{
  display: flex;
  flex-grow: 1;
  width: 240px;
  min-width: 240px;
  max-width: 100%;
  background-color: white;
  padding: 1% 1%;
  border: none;
  margin: 1% 1%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.submain-text-button{
  /* background-color: red; */
  text-align: left;
  flex-grow: 1;
  margin-left: auto;
  padding-left: 4%;
}

.h1-line, .hr-line, .article-align-container, .icon-article-container {
  max-width: 75.5%;
  margin: auto;
}

.hr-line {
  margin-bottom: 2rem;
}

.icon-article-container {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
 /* SECTION 1 END */


/* SECTION 2 START */
.article-align-container {
  display: flex;
  justify-content: space-between;
}

.view-all-article-button {
  display: flex;
  padding: 0% 1%;
  background-color: transparent;
  border-style: none;
}

.icon-article-text{
  background-color: red;
  display: flex;
  justify-content: flex-start;
  padding-left: 0.5%;
  width: 24rem;
}

.icon-article-text h1{
  padding-left: 1%;
}

.icon-img {
  background-color: blue;
  width: 2rem
}

.icon-article-container{
  display: flex;
  justify-content: flex-start;
  background-color: green;
  width: auto;
  height: auto;
}

.button-articles{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  width: 368px;
  max-width: 100%;
  min-width: 368px;
  /* width: 23rem; */
  background-color: white;
  padding: 1% 1%;
  border: none;
  margin: 1% 1%;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 2%), 0px 2px 4px rgb(0 0 0 / 8%)
}

/* .button-articles h3 {
  background-color: transparent;
  height: auto;
  width: auto;
}

.button-articles img {
  background-color: transparent;
  height: auto;
  width: auto;
} */

.view-all-article-button:hover {
  color: #F48023;
}

.button-arrow-icon:hover {
  color: #F48023;
}

.button-arrow-icon:hover {
  color: #F48023;
}


.submain-arrow-button:hover {
  color: #F48023;
}


/* FOOTER START */
.footer-main-container {
  display: flex;
  background-color: pink;
  height: 15rem;
  margin-top: 3rem;
}

.footer-submain-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: green;
  margin: auto;
  text-align: center;
  max-width: 40rem;
}

.footer-submain-container h3, button {
  align-items: center;
}

.center-textbutton button {
  display: flex;
  height: 2.5rem;
  width: 8rem;
  padding: 9px;
  background-color: #F48023;
  margin: auto;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.center-textbutton h4 {
  margin-left: 0.3rem;
  color: white;
}

.footer-background-child h4{
  font-weight: 100;
}

.center-textbutton:hover h4{
  color: black;
}
/* FOOTER END */























